.banner{
    background: linear-gradient(grey, black);
    width: 100%;
    height:2.5em;
    position: absolute; 
    top: 0; 
    left: 0; 
    padding-left:3em;
    border-bottom: 0.15em solid red;
}
.inline{
    display:inline;
}
.pads{
    padding-left:62em;
   
}


input[type="submit"] {
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #008080;
  padding: 3px 6px 4px 7px;
  text-decoration: none;
}

input[type="submit"]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.margins{
    margin-left:10em;
    margin-right:10em;
    margin-top:2.65em;
    }
.center{
    padding:1em;
}
.blue{
    color:blue;
}
.blue:hover{
    color:black;
}
* {
    margin: 0; 
    padding: 0;
    }

html{
   background-color:#F0F0F0 ;
}
a{
  color:white;
}
a:hover{
    color:blue;
	}
a:link {
    text-decoration: none;
}

ul{
	position: fixed;
	display: inline-block;
	width: 10em;
	vertical-align: top;
	background: #000000;
	height: 700px; 
	}
ul li{
	text-align:left;
	padding:0.5em;
   }