{% if my_profile.github and list_of_github %}
{% for event in list_of_github %}
    <div class="panel panel-info align">
        <div class="panel-heading">
            <h4 class="panel-title">{{ event.title|safe|escape }}</h4>
        </div>
        <div class="panel-body">
            <h5>
                <p class="text-muted">
                    {{ event.post_text }}
                </p>
            </h5>
        </div>
        <br/>
    </div>
{% endfor %}
{% elif not my_profile.github %}
    <div>
        <h2>
            You haven't linked a <a href="http://www.github.com">Github</a>
            account yet! Set one <a href="/manage">here</a>!
        </h2>
    </div>
{% elif not list_of_github %}
    <div>
        <h2>
            There is no activity to display for this Github account!
        </h2>
    </div>
{% endif %}