{% for post in list_of_posts %}
    {% if post.author.host = 'http://cs410.cs.ualberta.ca:41024' %}
        <div class="panel panel-info">
    {% else %}
        <div class="panel panel-warning">
    {% endif %}
        <div class="panel-heading">
            <h1 class="panel-title"> {{post.title}}</h1>
        </div>
        <div class="panel-body align">
            <p>Post by {{post.author}} on {{post.date}}</p>
            <p>{{post.post_text|safe|escape}}</p>
            <br/>

            {% if post.image %}
                <div>
                    <img src="{{MEDIA_URL}}{{post.uuid}}" alt="{{post.image}}" height="100" width="100"/>
                </div>
            {% endif %}
                <p>This post's privacy is {{post.get_privacy_display}}</p>
            {% if post.author.user = user %}
                <br/>
                <div class="button-container">
                    <form id="expand_post" method="get" action="/posts/{{post.uuid}}/">
                        <input class="btn btn-success btn-sm" type="submit" value="Expand" />
                    </form>
                    <form id="edit_post" method="get" action="/edit/post/{{post.uuid}}">
                        <input class="btn btn-warning btn-sm" type="submit" value="Edit" />
                    </form>
                    <form id="delete_post" method="post" action="/delete/post/{{post.uuid}}">
                        {% csrf_token %}
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete" />
                    </form>
                </div>


            {% else %}
                <br/>
                <div>
                    <form id="expand_post" method="get" action="/posts/{{post.uuid}}/">
                        <input class="btn btn-success btn-sm" type="submit" value="Expand" />
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
