<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Social Distribution</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}" />
</head>
<body>
    <div class="banner">
	<a href="/"><h1 class="white inline">Social Distribution</h1></a>
	<a class="pads" href="/logout"><p class="white inline">Logout</p></a>
    </div>
    <div class="margins center">
    <p>Friend Request Sent </p>

    {% if friends %}
    
		{% for friend in friends%}
			<div>
		        <form method="POST" action="/add_friend/">
		        {% csrf_token %}
		        <p>{{friend.from_profile_id}}</p>
				<span>
					<input type="hidden" value={{friend.from_profile_id.id}} name="from_profile">
					<input type="submit" name="accept" value="Accept" />
			        <input type="submit" name="reject" value="Reject" />
				</span>
		        </form>
	        </div>
		{% endfor %}

	{% else %}
		<h1> No Friend Requests </h1>
	{% endif %}
	</div>
</body>
<html>
