<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Social Distribution</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}" />
</head>
<body>
    <div class="banner">
	<a href="/"><h1 class="white inline">Social Distribution</h1></a> 
	<a class="logout" href="/logout"><p class="white inline">Logout</p></a>
    </div>
    <div class="margins center">
	<h1> {{user.username}}'s Profile</h1>
	<div>
        <p>FIRST NAME: {{user.first_name}}</p>
        <p>LAST NAME: {{user.last_name}}</p>
		<p>USER ID: {{profile.user_id}} </p>
	 	<p>PROFILE ID: {{profile.id}} </p>
	 	<p>BODY: {{profile.body}} </p>
	 	<p>DOB: {{profile.birthdate}} </p>
	 	<p>UUID: {{profile.uuid}} </p>
	 	<p>GENDER: {{profile.gender}}</p>
 	</div>

 	{% if isFriends %}
 		<div>
			<form method="POST" action="/remove_friend/">
			{% csrf_token %}
			<input type="hidden" value={{profile.id}} name="remove_profile_id">
	        <input type="submit" name="submit" value="Remove Friend" />
	    	</form>
	    </div>
	{% else %}
		<div>
			<form method="POST" action="/friend_request/">
			{% csrf_token %}
			<input type="hidden" value={{profile.id}} name="to_profile">
	        <input type="submit" name="submit" value="Send Friend Request" />
	    	</form>
	    </div>
	{% endif %}
    </div>

</body>
<html>