{% extends 'authors/base.html' %}
{% load post_tags %}
{% load github_tags %}
{% block block_body %}
<script>
    function refresh() {
        $.ajax({
            url: '{% url 'post_template' %}',
            success: function(data) {
                $('#posts').html(data);
            }
        });
    }

    $(function(){
        refresh();
        setInterval("refresh()", 15000);
    });
</script>

<script>
    function refresh2() {
        $.ajax({
            url: '{% url 'github_template' %}',
            success: function(data) {
                $('#github').html(data);
            }
        });
    }

    $(function(){
        refresh2();
        setInterval("refresh2()", 15000);
    });
</script>
    <div class="margins">

    <h3>View Author Profile:
        <select id="selectbox" onchange="javascript:location.href = this.value;">
        <option disabled selected>Select User</option>
        {% for profile in list_of_profiles %}
            <option value="author/{{ profile.uuid }}">
                {{profile.user.username}}
            </option>
        {% endfor %}
        </select>
    </h3>
	<!-- End Testing -->
    {% if user.is_authenticated %}

    <br/>
    <ul class="nav nav-tabs">
        <li class="Posts"><a href="#posts" data-toggle="tab" aria-expanded="true">Posts</a></li>
        <li class=""><a href="#github" data-toggle="tab" aria-expanded="false">Github</a></li>
    </ul>
    <div id ="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="posts">
            {% render_post %}
        </div>
        <div class="tab-pane fade" id="github">
            {% render_github %}

        </div>

    </div>    
    {% endif %}
    
    </div>
{% endblock %}
