<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Social Distribution</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}" />
</head>
<body>
    <div class="banner">
	<h1 class="inline"><a href="/">Social Distribution</a></h1> 
	<a class="pads" href="/logout">Logout</a>
    </div>
    <div class="margins center">
    {% if user.is_authenticated %}
    <p>Hello {{ user.username }}!</p>
    <a href='/logout/'>Logout</a>
    {% else %}
    <p>Hello World! Click <a href="/login/">here</a> to login</p>
    {% endif %}

        	<!-- Testing -->
    <h1>Testing. Grabs all the users and sends it to profile.html </br> Profile.html loads all the data under a profile </h1>
	<h2> List of Users</h2>
	{% for users in list_of_users%}
		<div>
			<a href="/author/{{ users.username }}/"> {{users.username}} </a>
		</div>
	{% endfor %}

	<a href="/add_friend/"> Friend Requests</a>
	
	<br/><br/>
	<h3><a href="/posts/">Create Post</a></h3>
    
    <h3><a href="/posts/all/">View Public Posts</a></h3>
    
     <h3><a href="/posts/friends/">View Posts By Friend</a></h3>

     <h3><a href="/posts/custom/">View Posts By Custom Filter</a></h3>

    {% if user.is_authenticated %}
    <h3><a href="/author/{{user.username}}/posts/">View Your Posts</a></h3>
    {% endif %}
	<!-- End Testing -->
    {% if user.is_authenticated %}

    {% for post in list_of_posts %}
        <div>
         Title: {{post.title}}
        </div>
        <div>
            Body: {{post.post_text}}
        </div>
        
        {% if post.image %}
            <div>
                <img src="/static/{{post.image}}" alt="{{post.image}}" height="100" width="100"/>
            </div>
        {% endif %}    
        
        {% if post.author.user = user %}
        <div>
            Privacy: {{post.privacy}}
        </div>
        
        <form id="delete_post" method="post" action="/delete/post/{{post.id}}">
            {% csrf_token %}
            <input type="submit" name="delete" value="Delete" />
        </form>
        <form id="edit_post" method="get" action="/edit/post/{{post.id}}">
            {% csrf_token %}
            <input type="submit" name="edit" value="Edit" />
        </form>
        
        {% else %}
        <div>
            Author: {{post.author}}
        </div>
        
        {% endif %}
        
        <div>
        <form id="expand_post" method="get" action="/posts/{{post.id}}/">
            {% csrf_token %}
            <input type="submit" name="expand" value="Expand" />
        </form>
        <br/><br/>
            
        </div>
        
    {% endfor %}

    {% endif %}
    </div>
</body>
<html>
