<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top navbar-header">
	    <a href="/login" class="navbar-brand">Social Distribution</a>
    </div>

    <div class="margins top center">
    <h1>Login to Social Distribution</h1>
	    <div class="col-md-6">
	    <form id="login_form" method="post" action="/login/">
		        {% csrf_token %}
		        <input type="text" name="username"  class="form-control" placeholder="Username" />
		        <br /> 
		        <input type="password" name="password" class="form-control" placeholder="Password" />
		        <br/>
		        <input class="btn btn-primary btn-sm" type="submit" value="Login" />
		    </form>
		    <a href="/register/">Or register here!</a>
	    </div>
    </div>
</body>
</html>
