{% extends 'authors/base.html' %}
{% block block_body %}
    <div class="margins">
		{% for friend in friends %}	       
		<div class="panel panel-info">
			<div class="panel-heading"> 	    		
                <h1 class="panel-title">{{friend.user}}</h1>
            </div>
            <div class="panel-body">
                    <h4>Display Name: {{friend.displayname}} </h4>
		    	<div class="button-container">
		    		<a class="btn btn-sm btn-info" href="/author/{{friend.uuid}}">View Profile</a>
		    		
				    <form method="POST" action="/remove_friend/">
				    	{% csrf_token %}
			    		<input class="btn btn-primary btn-sm" type="hidden" value={{friend.id}} name="remove_profile_id" />
				        <input class="btn btn-danger btn-sm" type="submit" value="Unfriend" />
				    </form>
			  	</div>
		  	</div>
		</div>
		{% endfor %}
    </div>
{% endblock %}