<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>Social Distribution</title>
		<link rel="stylesheet" href="{% static 'css/post.css' %}" />
		<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
		<script src="{% static 'js/post.js' %}"></script>
	</head>
   
	<body>
	
		{% if user.is_authenticated %}
		
		<p>Authenticated {{ user.username }}</p>
			
			
			<form id="edit_form" method="post" action="" 
				enctype="multipart/form-data">
				{% csrf_token %}
		
				<div>
					Title:
					</br>
					{{edit_form.title}}
					</br>
				</div>
				<div>
					Description:
					</br>
					{{edit_form.description}}
					</br>
				</div>
			
				<div>
					Post:
					</br>
					{{edit_form.post_text}}
					</br>
				</div>
			
				<div>
					Privacy:
					</br>
					{{edit_form.privacy}}
					</br>
				</div>
			
				<div id="allowed">
					Choose:
					</br>
					{{edit_form.allowed}}</br>
					Use Control or Command to select multiple users
					</br>
				</div>
		
				<input type="submit" name="submit" value="Edit" />
			</form>
	
		{% else %}
		
			<p>Not authenticated</p>
			<a href="/login/">Login</a>
		
		{% endif %}
		
	</body>
</html>