{% extends 'authors/base.html' %}
{% block block_body %}
    <div class="margins">
		<h1> Expanded Post </h1>
		{% if post.author.host = 'http://cs410.cs.ualberta.ca:41024' %}
    	<div class="well">
        {% else %}
        <div class="well text-primary">
        {% endif %}
	   	<h1>Title: {{post.title}}</h1>

		<div>
			<p>Post ID: {{post.id}}</p>

            <p>Image:
            {% if post.image %}
                <br/> 
                <img src="{{MEDIA_URL}}{{post.uuid}}" alt="{{post.image}}" height="100" width="100"/>
            </p>
            {% else %}
                None</p>
            {% endif %}

			<p>Post Text: {{post.post_text|safe|escape}}</p>
			<p>Privacy: {{post.privacy}} </p>
			<p>Description: {{post.description}} </p>
			<p>Author_id: {{post.author_id}} </p>
			<p>Date: {{post.date}} </p>
		</div>
		</div>
		<h3>Comments </h3>
		<div>
			{% for comment in comments %}
				<div class="well">
				<p>Body: {{comment.body}}</p>
				<p> Date: {{comment.date}}</p>
				<p> author_id: {{comment.author_id}}</p></br>
				</div>
			{% endfor %}
		</div>

        {% if post.author.host = 'http://cs410.cs.ualberta.ca:41024' %}
		</hr>
		<h3> Submit Comment</h3>
		<div>
			<span>
				<form method="POST" action="/posts/{{post.uuid}}/">
					{{comment_form.as_p}}
					<input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
		        	<input class="btn btn-primary btn-sm" type="submit" name="submit_comment" value="Submit Comment" />
		        </form>
		    </span>
		</div>
	</div>
    {% endif %}
{% endblock %}
