<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>Social Distribution</title>
		<link rel="stylesheet" href="{% static 'css/design.css' %}" />
	</head>
	<body>
	<div class="banner">
		<h1 class="inline"><a href="/">Social Distribution</a></h1> 
		<a class="pads" href="/logout">Logout</a>
	</div>
    <div class="margins center">
	<h1> Expanded Post </h1>
   	<h1>Title: {{post.title}}</h1>
			<div>
			<p>Post ID: {{post.id}}</p>
        
            <p>Image: 
            {% if post.image %}
                <br/> <img src="/static/{{post.image.url}}" alt="{{post.image.url}}" height="100" width="100"/></p>
            {% else %}
                None</p>
            {% endif %}
            
			<p>Post Text: {{post.post_text}}</p>
			<p>Date: {{post.date}} </p>
			<p>Privacy: {{post.privacy}} </p>
			<p>Author_id: {{post.author_id}} </p>
			<p>Content Type: {{post.content_type}} </p>
			<p>Description: {{post.description}} </p>
			<p>uuid: {{post.uuid}} </p>
		</div>

		<h3>Comments </h3>
		<div>
			{% for comment in comments %}
				<span>Body: {{comment.body}}, Date: {{comment.date}} author_id: {{comment.author_id}}</span></br>
			{% endfor %}
		</div>

		</hr>
		<h3> Submit Comment</h3>
		<div>
			<span>
				<form method="POST" action="/posts/{{post.id}}/">
					{{comment_form.as_p}}
					<input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
		        	<input type="submit" name="submit_comment" value="Submit Comment" />
		        </form>
		    </span>
		</div>
		</div>
	</body>
</html>