{% extends 'authors/base.html' %}
{% block block_body %}
	<div class="margins center">
		{% if edit %}
		<h2>Edit Post</h2>
		{% else %}
		<h2>Make a Post</h2>
		{% endif %}

		{% if user.is_authenticated %}

		<p>Authenticated {{ user.username }}</p>
			{% if edit %}
				<form id="post_form" method="post" action=""
				enctype="multipart/form-data">
			{% else %}
				<form id="post_form" method="post" action="/posts/"
				enctype="multipart/form-data">
			{% endif %}
				{% csrf_token %}

				<div>
					Title:
					</br>
					 <input type="text" name="title"  class="form-control" placeholder="Title" />
					</br>
				</div>
				<div>
					Description:
					</br>
					 <input type="text" name="description"  class="form-control" placeholder="Description" />
					</br>
				</div>


				 <div class="row">
				 <div class="col-lg-2">
					Content type:
					</br>
					<select class="form-control" id="select" name="content_type">
						<option value="text/plain">Plain text</option>
						<option value="text/x-markdown">Markdown</option>
						<option value="text/html">HTML</option>
					</select>
				</div>
				</div>
				<div>
					Post:
					</br>
					 <textarea name="post_text"  rows="5" class="form-control" placeholder="Post Text" /></textarea>
					</br>
				</div>

				<div class="row">
				 <div class="col-lg-2">
					Privacy:
					</br>
					<select class="form-control" id="select" name="privacy">
						<option value="1">Public</option>
						<option value="2">Private</option>
						<option value="4">Friends</option>
					</select>
					</br>
				</div>
				</div>

                <div>
                    Upload Image: </br>
                    {{post_form.image}}
		</div>

				<div id="allowed">
					Choose:
					</br>
					{{post_form.allowed}}</br>
					Use Control or Command to select multiple users
					</br>
				</div>

				{% if edit %}
				<input class="btn btn-primary btn-sm" type="submit" value="Edit" />
				{% else %}
				<input class="btn btn-primary btn-sm" type="submit" value="Post" />
				{% endif %}
			</form>

		{% else %}

			<p>Not authenticated</p>
			<a href="/login/">Login</a>

		{% endif %}
	</div>

{% endblock %}
