{% extends 'authors/base.html' %}
{% block block_body %}
<div class="margins center">
		{% if edit %}
		<h2>Edit Post</h2>
		{% else %}
		<h2>Make a Post</h2>
		{% endif %}

		{% if user.is_authenticated %}

		<p>Authenticated {{ user.username }}</p>
			{% if edit %}
				<form id="post_form" method="post" action=""
				enctype="multipart/form-data">
			{% else %}
				<form id="post_form" method="post" action="/posts/"
				enctype="multipart/form-data">
			{% endif %}
				{% csrf_token %}
				{{ post_form.non_field_errors }}
				<div>
					Title:
					</br>
					{{post_form.title}}
					</br>
				</div>
				<div>
					Description:
					</br>
					{{post_form.description}}
					</br>
				</div>

				<div class="rows">
				<div class="col-lg-2">
					Privacy:
					</br>
					{{post_form.privacy}}
					</br>
				</div>
				<div class="col-lg-2">
					Content type:
					</br>
					{{post_form.content_type}}
					</br>
				
				</div>
				</div>
				<br/>
				<br/>
				<br/>
				<br/>

				<div>
					Post:
					</br>
					{{post_form.post_text}}
					</br>
				</div>


                <div>
                    Upload Image: </br>
                    {{post_form.image}}
			    </div>

				<div id="allowed">
					Choose:
					</br>
					{{post_form.allowed}}</br>
					Use Control or Command to select multiple users
					</br>
				</div>

				{% if edit %}
				<input class="btn btn-success btn-sm" type="submit" name="submit" value="Edit" />
				{% else %}
				<input class="btn btn-success btn-sm" type="submit" name="submit" value="Post" />
				{% endif %}
			</form>

		{% else %}

			<p>Not authenticated</p>
			<a href="/login/">Login</a>

		{% endif %}
	</div>

{% endblock %}
