<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>Social Distribution</title>
		<link rel="stylesheet" href="{% static 'css/post.css' %}" />
		<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
		<script src="{% static 'js/post.js' %}"></script>
	</head>
   
	<body>
		{% if edit %}
		<h2>Edit Post</h2>
		{% else %}
		<h2>Make a Post</h2>
		{% endif %}
	
		{% if user.is_authenticated %}
		
		<p>Authenticated {{ user.username }}</p>
			{% if edit %}
				<form id="post_form" method="post" action="" 
				enctype="multipart/form-data">
			{% else %}
				<form id="post_form" method="post" action="/posts/" 
				enctype="multipart/form-data">
			{% endif %}
				{% csrf_token %}
		
				<div>
					Title:
					</br>
					{{post_form.title}}
					</br>
				</div>
				<div>
					Description:
					</br>
					{{post_form.description}}
					</br>
				</div>
			
				<div>
					Post:
					</br>
					{{post_form.post_text}}
					</br>
				</div>
			
				<div>
					Privacy:
					</br>
					{{post_form.privacy}}
					</br>
				</div>
                
                <div>
                    Upload Image: </br>
                    {{post_form.image}}
			    </div>
                
				<div id="allowed">
					Choose:
					</br>
					{{post_form.allowed}}</br>
					Use Control or Command to select multiple users
					</br>
				</div>
		
				{% if edit %}
				<input type="submit" name="submit" value="Edit" />
				{% else %}
				<input type="submit" name="submit" value="Post" />
				{% endif %}
			</form>
	
		{% else %}
		
			<p>Not authenticated</p>
			<a href="/login/">Login</a>
		
		{% endif %}
		
	</body>
</html>