{% extends 'authors/base.html' %}
{% load post_tags %}
{% block block_body %}
<script>
    function refresh() {
        $.ajax({
            url: '{{ request.get_host }}' + '{{ url_from }}',
            success: function(data) {
                $('#posts').html(data);
            }
        });
    }

    $(function(){
        refresh();
        setInterval("refresh()", 15000);
    });
</script>
        <div class="margins">

            <h2>{{ title }}</h2>
            <br/>
            <div id="posts">
            	{% render_post %}
            </div>
	    </div>
{% endblock %}
