<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>Social Distribution</title>
		<link rel="stylesheet" href="{% static 'css/post.css' %}" />
		<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
		<script src="{% static 'js/post.js' %}"></script>
	</head>
   
	<body>		
        
        {% if user.is_authenticated %}
            <p>You are logged in as {{ user.username }}</p>
		
        {% else %}
			<p>Not authenticated</p>
			<a href="/login/">Login</a>
		{% endif %}
        
        <h2>{{ title }}</h2>
    	
        {% for post in list_of_posts %}
    		<div>
    			Title: {{post.title}}
    		</div>
            <div>
                Body: {{post.post_text}}
            </div>
            <div>
                Author: {{post.author}}
            </div>
            
            {% if edit %}
            <div>
                Privacy: {{post.privacy}}
            </div>
            <form id="delete_post" method="post" action="/delete/post/{{post.id}}">
                {% csrf_token %}
                <input type="submit" name="submit" value="Delete" />
                
            </form>
            {% endif %}
            <br/><br/>
            
    	{% endfor %}
		
	</body>
</html>